.section-login{
    min-height: 100vh;
    overflow: hidden;
}
.img-login{
    width: 600px;
    height: 300px;
    overflow: hidden;
}
.img-login img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.main-login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-login input{
    padding: 8px 14px;
    font-size: 1em;
    margin: 10px;
    border: none;
    outline: 1px solid rgb(255,134,0);
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.form-login input:focus{
    outline: none;
    border: none;
}
.form-login button{
    width: 100%;
    padding: 8px 20px;
    text-transform: uppercase;
    background-color: rgb(255,134,0);
    border: none;
    color: #f8f9fa;
    border-radius: 25px;
    margin: 20px 0;
    cursor: pointer;
    text-align: center;
}
.form-login button:hover{
    background-color: rgb(97, 218, 251);
}
.titulo-login{
    font-size: 2em;
    text-align: center;
    margin: 50px 0;
    color: rgb(34,34,34);
}
.volver-home{
    margin-top: 15px;    
    margin-left: 15px;
    width: 80px;
    height: 30px;
    font-size: .9em;
    text-transform: uppercase;
    border: none;
    background-color: rgb(34,34,34);
    color: #f8f9fa;
    border-radius: 15px;
    padding: 8px 5px;
    cursor: pointer;
}
.volver-home:hover{
    background-color: rgb(97, 218, 251);
}

@media (max-width: 530px){
    .main-login{
        flex-direction: column;
    }
    .img-login{
        max-width: 350px;
        height: 300px;
    }
}