.section-footer{
    width: 100%;
    height: 150px;
    background-color: rgb(34, 34, 34);
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f8f9fa6b;
}
.titulo-footer{
    font-size: 1em;
    margin: 0;
    margin-right: 3px;
}
span{
    color: rgba(255, 136, 0, 0.523);
}


@media (max-width: 542px) {
    .section-footer{
        flex-direction: column;
    }
}